# ==========================================
# Build
# ==========================================
Debug/
Release/
build/
Build/
atividades-exportadas/
/atividades-exportadas/

*.elf
*.bin
*.hex
*.map
*.o
*.obj
*.su
*.d
*.mk
*.list

# ==========================================
# STM32CubeIDE / Eclipse
# ==========================================
.runtime/
.metadata/

*.launch
*.history

.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.core.prefs

# ==========================================
# VSCode
# ==========================================
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/settings.json

# ==========================================
# STM32CubeMX
# ==========================================
*.ioc.bak
*.mxproject
STM32CubeMXLog.txt

# ==========================================
# C/C++ tooling
# ==========================================
.clangd/
compile_commands.json
.cache/

# ==========================================
# OS files
# ==========================================
.DS_Store
Thumbs.db
