# ==========================================
# Binários e Arquivos de Compilação (Build)
# ==========================================
/build/
/Build/
/Release/
/Debug/
*.elf
*.bin
*.hex
*.map
*.o
*.obj
*.su
*.d

# ==========================================
# Arquivos específicos da STM32CubeIDE / Eclipse
# ==========================================
.runtime/
.metadata/
# Se quiser salvar as configurações do projeto da IDE, NÃO ignore o .project e .cproject.
# Mas ignore os arquivos locais de deploy/logs abaixo:
*.launch
*.history
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.core.prefs

# ==========================================
# Arquivos de Configuração Local do VS Code
# ==========================================
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json
# Nota: É bom salvar o arquivo extensions.json ou settings.json se contiver configs do time,
# mas se forem apenas caminhos absolutos da sua máquina (/opt/st/...), ignore-os:
.vscode/settings.json

# ==========================================
# Arquivos Temporários do STM32CubeMX / Geradores
# ==========================================
# Mantém o arquivo .ioc (ele é o coração do CubeMX, essencial para o Git)
# Mas ignora os backups e logs gerados por ele:
*.ioc.bak
*.mxproject
STM32CubeMXLog.txt

# ==========================================
# Ferramentas de Linguagem e Indexação (C/C++)
# ==========================================
.clangd/
compile_commands.json
.cache/

# ==========================================
# Arquivos do Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db
